<template>
  <component :is="currentComponent" />
</template>

<script>
import starwarsList from '@/components/starwars-people/starwars-list';
import starwarsSingle from '@/components/starwars-people/starwars-single';

export default {
  name: 'Starwars-people',
  computed: {
    currentComponent() {
      return this.$route.params.peopleId ? 'starwarsSingle' : 'starwarsList';
    }
  },
  components: {
    starwarsList,
    starwarsSingle
  },
}
</script>

