<template>
  <mdb-container v-if="dataObj">
    <mdb-row>
      <mdb-col>
        <mdb-breadcrumb>
          <mdb-breadcrumb-item>
            <router-link :to="{ path: '/', query: { page: prevPage } }">
              &laquo; Назад
            </router-link>
          </mdb-breadcrumb-item>
        </mdb-breadcrumb>
      </mdb-col>
    </mdb-row>
    <mdb-row>
      <mdb-col>
        <mdb-card reverse>
          <mdb-view hover cascade>
            <img src="@/assets/star-wars-bg.jpg" class="people-single-avatar" />
            <mdb-mask overlay="white-slight" class="waves-light" waves/>
          </mdb-view>
          <mdb-card-body class="text-center cascade">
            <h2 class="font-weight-bold">{{dataObj.name}}</h2>
            <mdb-tbl>
              <mdb-tbl-head>
                <tr>
                  <th>Height</th>
                  <th>Mass</th>
                  <th>Hair color</th>
                  <th>Skin color</th>
                  <th>Eye color</th>
                  <th>Birth year</th>
                  <th>Gender</th>
                </tr>
              </mdb-tbl-head>
              <mdb-tbl-body>
                <tr>
                  <td>{{dataObj.height}}</td>
                  <td>{{dataObj.mass}}</td>
                  <td>{{dataObj.hair_color}}</td>
                  <td>{{dataObj.skin_color}}</td>
                  <td>{{dataObj.eye_color}}</td>
                  <td>{{dataObj.birth_year}}</td>
                  <td>{{dataObj.gender}}</td>
                </tr>
              </mdb-tbl-body>
            </mdb-tbl>
          </mdb-card-body>
        </mdb-card>
      </mdb-col>
    </mdb-row>
  </mdb-container>
  <mdb-spinner v-else big crazy color="white" />
</template>

<script>
  import { mapState } from 'vuex'
  import { mdbContainer, mdbRow, mdbCol, mdbSpinner, mdbBreadcrumb, mdbBreadcrumbItem, mdbCard, mdbCardBody, mdbMask, mdbView, mdbTbl, mdbTblHead, mdbTblBody } from 'mdbvue';

  export default {
    name: "starwars-single",
    data: () => ({
      dataObj: null,
      prevPage: 1
    }),
    computed: {
      ...mapState('commonStore', ['config']),
    },
    components: {
      mdbContainer, mdbRow, mdbCol,
      mdbSpinner,
      mdbBreadcrumb, mdbBreadcrumbItem,
      mdbCard, mdbCardBody,
      mdbMask, mdbView,
      mdbTbl, mdbTblHead, mdbTblBody
    },
    methods: {
      getItem() {
        let _this = this;

        this.axios({
          method: 'get',
          url: this.config.APIURL + '/people/' + this.$route.params.peopleId,
        })
            .then(function (response) {
              _this.dataObj = response.data;
            })
            .catch(function () {
              return false;
            });
      }
    },
    created() {
      this.getItem();
      this.prevPage = localStorage.getItem('current-page') ? localStorage.getItem('current-page') : 1;
    },
  }
</script>

<style lang="scss" scoped>
  .people-single-avatar {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
</style>
