<template>
  <mdb-container v-if="dataList">
    <paginator
        v-if="dataList.count > dataList.results.length"
        :currentPage="currentPage" :totalPages="totalPages" pagePath="/"
    />
    <mdb-row>
      <mdb-col
          v-for="item in dataList.results" :key="item.url"
          sm="12" md="6" lg="4"
          class="mb-4"
      >
        <mdb-card>
          <mdb-view hover>
            <router-link :to="{ path: '/people/' + item.url.match(/people\/(\d+)/)[1] }">
              <mdb-card-image :src="require('@/assets/star-wars-stormtroopers.jpg')" alt="Card image cap"></mdb-card-image>
              <mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
            </router-link>
          </mdb-view>
          <mdb-card-body>
            <mdb-card-title>{{item.name}}</mdb-card-title>
            <hr>
            <p class="font-small mb-3">
              <mdb-tbl borderless sm>
                <mdb-tbl-body>
                  <tr>
                    <th class="text-left">Height</th>
                    <td>{{item.height}}</td>
                  </tr>
                  <tr>
                    <th class="text-left">Mass</th>
                    <td>{{item.mass}}</td>
                  </tr>
                  <tr>
                    <th class="text-left">Hair color</th>
                    <td>{{item.hair_color}}</td>
                  </tr>
                  <tr>
                    <th class="text-left">Skin color</th>
                    <td>{{item.skin_color}}</td>
                  </tr>
                  <tr>
                    <th class="text-left">Eye color</th>
                    <td>{{item.eye_color}}</td>
                  </tr>
                  <tr>
                    <th class="text-left">Birth year</th>
                    <td>{{item.birth_year}}</td>
                  </tr>
                  <tr>
                    <th class="text-left">Gender</th>
                    <td>{{item.gender}}</td>
                  </tr>
                </mdb-tbl-body>
              </mdb-tbl>
            </p>
            <router-link
                :to="{ path: '/people/' + item.url.match(/people\/(\d+)/)[1] }"
                class="dark-grey-text d-flex justify-content-end"
            >
              <h5>Подробно <mdb-icon icon="angle-double-right" class="pl-1" /></h5>
            </router-link>
          </mdb-card-body>
        </mdb-card>
      </mdb-col>
    </mdb-row>
    <paginator
        v-if="dataList.count > dataList.results.length"
        :currentPage="currentPage" :totalPages="totalPages" pagePath="/"
    />
  </mdb-container>
  <mdb-spinner v-else big crazy color="white" />
</template>

<script>
  import { mapState } from 'vuex'
  import { mdbContainer, mdbRow, mdbCol, mdbCard, mdbCardImage, mdbCardBody, mdbCardTitle, mdbView, mdbMask, mdbIcon, mdbTbl, mdbTblBody, mdbSpinner } from 'mdbvue';
  import paginator from "@/components/common/paginator"

  export default {
    name: 'starwars-list',
    data: () => ({
      dataList: null,
      currentPage: 1,
      itemsPerPage: 10
    }),
    components: {
      mdbContainer,
      mdbRow,
      mdbCol,
      mdbCard,
      mdbCardImage,
      mdbCardBody,
      mdbCardTitle,
      mdbView,
      mdbMask,
      mdbIcon,
      mdbSpinner,
      mdbTbl, mdbTblBody,
      paginator
    },
    computed: {
      ...mapState('commonStore', ['config']),
      totalPages() {
        return this.dataList && this.dataList.results.length ?
            Math.ceil(this.dataList.count / this.itemsPerPage) :
              1
      }
    },
    methods: {
      getList() {
        let _this = this;

        this.axios({
          method: 'get',
          url: this.config.APIURL + '/people?page=' + this.currentPage,
        })
            .then(function (response) {
              _this.dataList = response.data;
            })
            .catch(function () {
              return false;
            });
      }
    },
    created() {
      if (this.$route.query.page) {
        this.currentPage = +this.$route.query.page
        localStorage.setItem('current-page', this.currentPage)
      }
      this.getList();
    },
    watch: {
      '$route' (to) {
        this.currentPage = +to.query.page;
        localStorage.setItem('current-page', this.currentPage)
        this.getList();
      }
    }
  }
</script>

