<template>
  <component :is="currentComponent" />
</template>

<script>
import starwarsList from './starwars-list';
import starwarsSingle from './starwars-single';

export default {
  name: 'starwars-index',
  computed: {
    currentComponent() {
      return this.$route.params.peopleId ? 'starwarsSingle' : 'starwarsList';
    }
  },
  components: {
    starwarsList,
    starwarsSingle
  },
}
</script>
