<template>
  <mdb-pagination circle class="mb-3 justify-content-center">
    <mdb-page-item
        :disabled="currentPage === 1"
        @click.native="$router.push({ path: pagePath, query: { [queryAttr]: 1 } })"
    >
      Первая
    </mdb-page-item>
    <mdb-page-item
        v-for="page in totalPages" :key="page"
        :active="page === currentPage"
        @click.native="$router.push({ path: pagePath, query: { [queryAttr]: page } })"
    >
      {{page}}
    </mdb-page-item>
    <mdb-page-item
        :disabled="currentPage === totalPages"
        @click.native="$router.push({ path: pagePath, query: { [queryAttr]: totalPages } })"
    >
      Последняя
    </mdb-page-item>
  </mdb-pagination>
</template>

<script>
  import { mdbPagination, mdbPageItem } from 'mdbvue'

  export default {
    name: "paginator",
    props: {
      currentPage: {
        type: Number,
        default: 1
      },
      totalPages: {
        type: Number,
        default: 1
      },
      pagePath: {
        type: String,
        required: true
      },
      queryAttr: {
        type: String,
        default: 'page'
      },
    },
    components: {
      mdbPagination, mdbPageItem
    }
  }
</script>
